.App {
    padding-left: 2%;
}

h1 {
    text-align: center;
    padding-bottom: 15%;
}

.cards {
    display: flex;
    justify-content: center;
}

.homeH1 {
    padding-bottom: 5%
}

.halloween {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 50%;
    box-shadow: 8px 8px 14px #ff8c00
}